@{
    ViewBag.Title = "Home Page";
}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Can I breathe now?</h1>
                    <form id="city-selection-form" action="@Url.Action("Conditions", "Home")">
                        <p class="intro-text">
                            Type your city below and check what air polution level you are facing
                            <div class="form-group">
                                <label for="city" class="intro-text">City</label>
                                <input name="city" type="text" class="form-control input-lg" id="city">
                            </div>

                        </p>
                        <a href="#" class="btn btn-circle page-scroll" onclick="document.getElementById('city-selection-form').submit()">
                            <i class="fa fa-angle-double-right animated"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>